*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Verdana;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: #F0F0F0;
	height: 100vh;

}
header{
	z-index: 1;
	position: fixed;
	left: 0px;
	top: 0px;
	display: flex;
	height: 65px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	background-color: white;
}
header .Logo{
	/*font-family: 'Courier-New', monospace;*/
	text-decoration: none;
	margin-left: 30px;
	color: darkcyan;
}
header .Logo:hover{
	color: blue;
}
header .menu{
	margin-right: 45px;
}
header .menu a{
	text-decoration: none;
	margin-left: 20px;
	color: grey;
}
.menu a:hover{
	color:blue;
}
section{
	margin-top: 60px;
	display: flex;
	flex-direction: column;

}
.banner{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 500px;
	background-image: url('../img/banner.webp');
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
}

.banner-title{
	font-size: xx-large;
	color: white;
}
.banner-legend{
	margin-top: 20px;
	color: lightblue;
	font-size: larger;
}
.banner-buttons{
	margin-top: 35px;
}
.banner-buttons button{
	padding: 15px 20px;
	font-size: medium;
	color: white;
	margin:0px 10px;
	border-radius: 10px;
	cursor: pointer;
}
.sign{
	background-color: blue;
	border: none;
}
.sign:hover{
	background-color: #000099;

}
.learn{
	background-color: transparent;
	border: 2px solid white;
}
.learn:hover{
	border: 2px solid cyan;
	color: lightblue;

}
.div-text{
	text-align: center;
	margin:40px 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div-text span{
	font-size: xx-large;
	color: black;
}
.div-text p{
	margin-top: 20px;
	color: darkgray;
	font-size: large;
}
/*CARD*/
.card-container{
	width: 100%;
	display: flex;
	/*border: 1px solid black;*/
	justify-content: space-around;
}
.card {
	display: flex;
	flex-direction: column;
	border: 1px solid darkgray;
	border-radius: 10px;
	height: 250px;
	width:calc(33% - 20px);
	justify-content: center;
	align-items: center;

}
.card-img{
/*	border: 1px solid red;*/
	width: 90px;
}
.card-img img{
	width: 100%;
}

.card span{
	margin-top: 5px;
	font-size: x-large;
	color: black;

}
.card-text{
	margin: 20px 0px;
	font-size: medium;
	text-align: center;
	color: darkgray;
}
.card:hover{
	border: 1px solid blue;
	transition: 1s;
	cursor: pointer;
}

/*SERVIÇOS*/
.services-container{
	width: 100%;
	padding: 30px 0px;
	display: flex;
	margin:50px 0px;
	background-color: #282828;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.services-title{
	width: 100%;
	height: 100px;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border:2px solid red;*/

}
.services-title span{
	font-size: xx-large;
	color: white;
}
.services-title p{
	font-size: medium;
	color: darkgray;
	margin: 15px 0px;
}

.services{
	width: calc(50% - 20px);
	/*height: 300px;*/
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	/*border: 2px solid white;*/
	flex-wrap: wrap;

}

.services-img{
	display: flex;
	flex-direction: column;
	width: 95%;
	margin-top: 20px;
	/*height: 400px;*/
	/*border: 2px solid green;*/
	justify-content: center;
	align-items: center;
}
.services-img img{
	width: 100%;
	height: 200px;
}

.services span{
	margin-top: 20px;
	color: white;
	font-size: x-large;
}
.services-txt{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	/*border: 2px solid red;*/
	color: white;
	font-size: small;
	margin-top: 30px;
}
.services button{
	font-size: large;
	/*height: 40px*/
	margin-top: 20px;
	padding: 10px 25px;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	cursor: pointer;
}

.contact-container{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.contact-title{
	width: 100%;
	/*border: 1px solid black;*/
	text-align: center;
}
.contact-title span{
	font-size: xx-large;
}
.contact-title p{
	font-size: medium;
	margin-top: 20px;
	color: darkgray;
}

.contact-container form{
	width: 95%;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
form input{
	margin:10px 0px;
	height: 40px;
	border: 1px solid darkgray;
	border-radius: 5px;
	text-align: center;
}
#msg{
	height: 100px;
}

form button{
	margin-top: 10px;
	background-color: darkcyan;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

footer{
	width: 100%;
	padding: 30px 0px;
	margin-top: 20px;
	background-color: #282828;
	color: white;
	text-align: center;
}


/*ESTILO PARA DESPOSITIVOS MÓVEIS*/
@media only screen and (max-width: 768px) {
  
  .card-container{
  	flex-direction: column;
  	align-items: center;
  }
  .card{
  	width: 80%;
  	margin: 10px;
  }
  .services-container{
  	flex-direction: column;
  }
  .services{
  	width: calc(100% - 20px);
  	margin-top:20px;
  }
  .services button{
  	margin: 20px 0px;
  }

}

